<div class="cpd-view-dialog">
  <div class="mat-dialog-title">
    <h2>Credit Details</h2>
    <div class="close-button-wrapper">
      <span class="close-button" (click)="close()">x</span>
    </div>
  </div>

   <mat-dialog-content>
      <div class="row-1">
        <div class="property" *ngIf="activity.activityType">
          <label>Activity Type</label>
          <span>{{activity.activityType}}</span>
        </div>
        
        <div class="property" *ngIf="activity.areaOfStudy">
          <label>Area of Study</label>
          <span>{{activity.areaOfStudy}}</span>
        </div>
      </div>
      
      <div class="row-2">
        <div class="property" *ngIf="activity.dateOfCompletion">
          <label>Date of Completion</label>
          <span>{{activity.dateOfCompletion | salesforceDate}}</span>
        </div>

        <div class="property" *ngIf="activity.credits">
          <label>Number of Credits</label>
          <span>{{activity.credits}}</span>
        </div>
      </div>

      <div class="property" *ngIf="activity.comments">
        <label>Comment</label>
        <span>{{activity.comments}}</span>
      </div>
      
      <div class="property" *ngIf="activity.URL">
        <label>URL</label>
        <span class="url">{{activity.URL}}</span>
      </div>

      <div class="property" *ngIf="showFields.includes('organizationName') && activity.organizationName">
        <label>{{currentActivity.organizationLabel}}</label>
        <span>{{activity.organizationName}}</span>
      </div>

      <div class="property" *ngIf="showFields.includes('provider') && activity.provider">
        <label>{{currentActivity.providerLabel}}</label>
        <span>{{activity.provider}}</span>
      </div>

      <div class="property" *ngIf="showFields.includes('publication') && activity.publication">
        <label>{{currentActivity.publicationLabel}}</label>
        <span>{{activity.publication}}</span>
      </div>

      <div class="property" *ngIf="showFields.includes('title') && activity.title">
        <label>{{currentActivity.titleLabel}}</label>
        <span>{{activity.title}}</span>
      </div>

      <div class="property" *ngIf="showFields.includes('contactEmail') && activity.contactEmail">
        <label>{{currentActivity.contactEmailLabel}}</label>
        <span>{{activity.contactEmail}}</span>
      </div>
  </mat-dialog-content>
</div>