@use "../../../styles/_variables" as var;
@use "../../../styles/_mixins" as mixins;
@use "../../../styles/_fonts" as fonts;
@use "../../../styles/_breakpoints" as bp;

.cpd-delete-dialog {
  .mat-dialog-title {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px 0px 25px;
    
    h2 {
      font-family: map-get(fonts.$klinic-slab-bold, "font-family");
      font-size: 25px;
      font-weight: 900;
      margin-bottom: 15px;
    }

    .close-button-wrapper {
      text-align: right;
      span {
        position: relative;
        top: 6px;

        &.close-button {
            padding: 5px;
            display: inline-block;
            width: 20px;
            text-align: center;
            font-weight: bold;
            color: var.$bright-purple;
            @include mixins.borderRadius(3px, solid , var.$bright-purple , 100%);
            &:hover {
                cursor: pointer;
          }
        }
      }
    }
  }

  mat-dialog-content {
    padding-top: 5px;
    color: var.$corporate-black;

    .activity {
      font-weight: 600;
    }
  }

  mat-dialog-actions {
    padding-left: 17px;
    margin-bottom: 38px;

    app-primary-button {
      margin-right: 12px;
    }

    .cancel-button {
      @include mixins.primary-btn;
      font-family: map-get(fonts.$nunito-sans-regular, 'font-family');
      background-color: white;
      color: var.$corporate-black !important;

      mat-icon {
        color: var.$bright-purple;
        background-color: white;
        border-radius: 50%;
        font-size: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -3px;
      }

      .cancel {
        margin-right: 7px;
        font-size: 13px;
      }

      ::ng-deep .mdc-button__label {
        position: relative;
        top: 2px;
        display: flex;
      }
    }
  }
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 12px !important;
}