<mat-nav-list class="container-mobile">
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="active-link" (click)="onNavItemClicked('FRM')">
    <div class="flex-container">
      <span>FRM</span>
      <mat-icon>arrow_circle_right</mat-icon>
    </div>
  </a>
  <mat-divider>
  </mat-divider>
  <a mat-list-item routerLinkActive="active-link" (click)="onNavItemClicked('SCR')">
    <div class="flex-container">
      <span>SCR</span>
      <mat-icon>arrow_circle_right</mat-icon>
    </div>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="active-link" (click)="onNavItemClicked('AI')">
    <div class="flex-container">
      <span>AI</span>
      <mat-icon>arrow_circle_right</mat-icon>
    </div>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="active-link" (click)="onNavItemClicked('Membership')">
    <div class="flex-container">
      <span class="nav-item-name">Membership</span>
      <mat-icon>arrow_circle_right</mat-icon>
    </div>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="active-link" (click)="onNavItemClicked('Insights & Events')">
    <div class="flex-container">
      <span class="nav-item-name">Insights & Events</span>
      <mat-icon>arrow_circle_right</mat-icon>
    </div>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="active-link" (click)="onNavItemClicked('About Us')">
    <div class="flex-container">
      <span>About Us</span>
      <mat-icon>arrow_circle_right</mat-icon>
    </div>
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>
