// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$garpapp-primary: mat.define-palette(mat.$indigo-palette);
$garpapp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$garpapp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$garpapp-theme: mat.define-light-theme(
  (
    color: (
      primary: $garpapp-primary,
      accent: $garpapp-accent,
      warn: $garpapp-warn,
    ),
  )
);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($garpapp-theme);

/* You can add global styles to this file, and also import other style files */
/* Make scrollbar transparent for Chrome, Safari and Opera */
/* For Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For IE, Edge and Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

html,
body {
  height: 100%;
  width: 100%;

  overflow: auto;
}
body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
